pkgbase = mmio-tool
	pkgdesc = MMIO Tool for Wii-Linux
	pkgver = 1.1
	pkgrel = 1
	url = https://wii-linux.org
	arch = powerpc
	license = GPL-2.0-only
	makedepends = gcc
	makedepends = binutils
	makedepends = glibc
	makedepends = git
	source = git+https://github.com/Wii-Linux/mmio-tool
	sha256sums = SKIP

pkgname = mmio-tool
